<h1>This is the page for the following plane: <%= @plane.name %></h1>


<p>Rows: <%= @plane.row %></p>
<p>Columns: <%= @plane.column %></p>

<hr>
<p>Plane diagram below:</p>

<div class="planeDiagram">

</div>

<script>
  var row = <%= @plane.row %>;
  var column = <%= @plane.column %>;

  var alphabets = "abcdefghijklmnopqrstuvwxyz".toUpperCase().split("");
  var rowArray = alphabets.slice(0, row);

  for (var i = 0; i < row; i++) {
    for (var j = 0; j < column; j++) {
      var $div = $("<div></div>");
      $div.attr("class", (j+1));
      $div.attr("id", rowArray[i]);
      
      var $planeDiagram = $(".planeDiagram");
      $planeDiagram.append($div);
    }
  var $lineBreak = $("</br>");
  $planeDiagram.append($lineBreak);
  }


</script>
