<h1>This is the individual page of: <%= @flight.name %></h1>

<ul>
    <h5>Flight details</h5>
        <hr>
        <li>Origin: <%= @flight.origin %></li>
        <li>Destination: <%= @flight.destination %></li>
        <li>Departure date: <%= @flight.date %></li>
        <li>Plane type: <%= @flight.plane.name %></li>
        <hr>
    <h5>Choose seat below</h5>
        <li>Total seats: <%= @flight.plane.row.to_i * @flight.plane.column.to_i %></li>
        <li>Seats booked (NEEDS TO AUTO-UPDATE): <%= @flight.booked_seats %> </li>
        <li>Seats currently available: <%=@flight.plane.row.to_i * @flight.plane.column.to_i - @flight.booked_seats.to_i %> </li>
</ul>


<div class="planeDiagram">

  <script>
    var row = <%= @flight.plane.row %>;
    var column = <%= @flight.plane.column %>;

    var alphabets = "abcdefghijklmnopqrstuvwxyz".toUpperCase().split("");
    var columnArray = alphabets.slice(0, row);

    for (var i = 0; i < row; i++) {
      for (var j = 0; j < column; j++) {
        var $div = $("<div></div>");

        $div.attr("class", columnArray[j]);
        $div.attr("id", (i+1));


        var $planeDiagram = $(".planeDiagram");
        $planeDiagram.append($div);
      }
    var $lineBreak = $("</br>");
    $planeDiagram.append($lineBreak);
    }
  </script>

  <button type="button" name="button">Submit</button>
  
</div>
