<h1>This is the individual page of: <%= @flight.name %></h1>

<ul>
    <h5>Flight details</h5>
        <hr>
        <p id="flightID"><%= @flight.id %></p>
        <li>Origin: <%= @flight.origin %></li>
        <li>Destination: <%= @flight.destination %></li>
        <li>Departure date: <%= @flight.date %></li>
        <li>Plane type: <%= @flight.plane.name %></li>
        <hr>
<br>

<div id="app">
  <h1>This is where our Backbone should be started</h1>
</div>


<script type="underscore/template" id="appViewTemplate">
  <h1>Book your seat below: </h1>

  <div id="secretForm">
    An instance of the SecretInputView should be loaded here
  </div>

  <ul id="secrets">

  </ul>
</script>


<script type="undersore/template" id="secretInputViewTemplate">
  <textarea placeholder="Insert row (number)" id="textarea"></textarea>
  <textarea placeholder="Insert column (alphabet)" id="textareatwo"></textarea>
  <button>Submit</button>
</script>

<div class="planeDiagram">
  <br>

  <script>
    var row = <%= @flight.plane.row %>; 10
    var column = <%= @flight.plane.column %>; 5

    var alphabets = "abcdefghijklmnopqrstuvwxyz".toUpperCase().split("");
    var columnArray = alphabets.slice(0, row);

    for (var i = 0; i < row; i++) {
      for (var j = 0; j < column; j++) {
        var $div = $("<div></div>");

        $div.attr("class", columnArray[j]);
        $div.attr("id", (i+1)+columnArray[j]);

        var $planeDiagram = $(".planeDiagram");
        $planeDiagram.append($div);
      }
    var $lineBreak = $("</br>");
    $planeDiagram.append($lineBreak);
    }

  </script>


</div>
