<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlinesLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:success] %>
    <p class="flash">
      <%= flash[:success] %>
    </p>
  <% end %>

  <% if flash[:error] %>
    <p class="flash">
      <%= flash[:error] %>
    </p>
  <% end %>


<nav>
    <%= link_to("All flights", flights_path) %>
    <%= link_to("All planes", planes_path) %>
</nav>

<% if @current_user.present? %>
<p class="login">You are logged in as <%= @current_user.name %></p>
<% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
